In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("StudentsPerformance.csv")

In [3]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
data.shape

(1000, 8)

In [6]:
gender_counts = data['gender'].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

In [7]:
parental_education_counts = data['parental level of education'].value_counts()
print(parental_education_counts)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [8]:
gender_avg_scores = data.groupby(['gender'])[['math score', 'reading score', 'writing score']].mean()
print(gender_avg_scores)

prep_course_avg_scores = data.groupby(['test preparation course'])[['math score', 'reading score', 'writing score']].mean()
print(prep_course_avg_scores)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [9]:
gender_std_scores = data.groupby(['gender'])[['math score', 'reading score', 'writing score']].std()
print(gender_std_scores)

prep_course_std_scores = data.groupby(['test preparation course'])[['math score', 'reading score', 'writing score']].std()
print(prep_course_std_scores)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [12]:
math_score_cutoff = np.percentile(data['math score'], 75)
data['BonusPoints'] = np.where(data['math score'] > math_score_cutoff, 10, 0)

In [ ]:
data.to_csv("student_scores_with_bonus.csv", index=False)